<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="HTTPStatusCode Test Suite">
            <directory>tests/HTTPStatusCode</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/HTTPStatusCode</directory>
        </whitelist>
    </filter>
</phpunit>